/* var.css */
:root {
  --vp-c-brand-1: #3451b2;
  --vp-c-brand-2: #3a5ccc;
  --vp-c-brand-3: #5672cd;
}

.dark {
  --vp-c-brand-1: #a8b1ff;
  --vp-c-brand-2: #5c73e7;
  --vp-c-brand-3: #3e63dd;
}
/* 以前的vp-c-brand已弃用 */

:root {
  /* hero标题渐变色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);

  /*hero logo背景渐变色 */
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(40px);
}

/* 也可自行单独修改brand按钮 */
/* :root {
  --vp-button-brand-border: #F6CEEC;
  --vp-button-brand-text: #F6CEEC;
  --vp-button-brand-bg: #D939CD;

  --vp-button-brand-hover-border: #F6CEEC;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #D939CD;

  --vp-button-brand-active-border: #F6CEEC;
} */

/* markdown 文档标题颜色 */
.VPDoc h1 {
  color:#3a56bb
}
.VPDoc h2 {
  color:#3a56bb
}
.VPDoc h3 {
  color:#3a56bb
}
.VPDoc h4 {
  color:#3a56bb
}
.VPDoc h5 {
  color:#3a56bb
}
.VPDoc h6 {
  color:#3a56bb
}
.dark {
  .VPDoc h1 {
    color:#a8b1ff
  }
  .VPDoc h2 {
    color:#a8b1ff
  }
  .VPDoc h3 {
    color:#a8b1ff
  }
  .VPDoc h4 {
    color:#a8b1ff
  }
  .VPDoc h5 {
    color:#a8b1ff
  }
  .VPDoc h6 {
    color:#a8b1ff
  }
}

/* 取消链接下划线 */
.vp-doc a {
    text-decoration: none;
}

/* 图片缩放时隐藏侧边栏 */
.medium-zoom-overlay {
  z-index: 30;
}

.medium-zoom-image {
  z-index: 9999 !important;/* 给的值是21，但是实测盖不住，直接999 */
}
